<header>
    <nav class="container mx-auto px-6 py-6 flex items-center justify-between">
        <a href="/" class="font-unica text-xl font-normal">HAPPENSTANCE&#174;</a>

        <div class="hidden md:flex items-center space-x-6 font-unica">
            <a href="#!" class="hover:text-gray-600">NEW RELEASES</a>
            <a href="#!" class="hover:text-gray-600">MEN</a>
            <a href="#!" class="hover:text-gray-600">WOMEN</a>
            <a href="#!" class="hover:text-gray-600">HAPS STORIES</a>
        </div>

        <div class="flex items-center space-x-4">
            <button mat-button [matMenuTriggerFor]="menu"><i class="fa-regular fa-circle-user"></i></button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="settings()">Settings</button>
            <button mat-menu-item (click)="logOut()">Log out</button>
            </mat-menu>
            <button class="relative hover:text-gray-600" (click)="openCart()">
                <i class="fa-solid fa-bag-shopping"></i>
                <span
                    class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-4 w-4 flex items-center justify-center">
                    {{cartCount().length}}
                </span>
            </button>
        </div>
    </nav>
</header>