<div class="container relative font-unica mx-auto h-[80vh] px-4 py-8">
    <div class="relative flex md:items-start xs:items-center md:flex-row xs:flex-col-reverse justify-between gap-5">
        <!-- Product Image Section -->
        <div class="space-y-8 xs:w-1/3 xs:order-2 xs:max-md:w-full">
            <!-- Size Selector -->
            <app-size-selector class="space-y-6"></app-size-selector>

            <!-- Color Selector -->
            <app-color-selector class="space-y-6"></app-color-selector>
        </div>
        <!-- Image Section -->
        <app-product-image class="image-navigation w-full xs:w-1/3 md:order-2 xs:order-1 xs:max-md:w-full"></app-product-image>
        <!-- Product Details Section -->
        <app-product-details class="space-y-6 w-1/3 xs:order-3 relative z-3 xs:max-md:w-full"></app-product-details>
    </div>

    <app-social-share></app-social-share>

    <app-footer></app-footer>
</div>
